<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <title>کد تأیید</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>

  <div class="auth-box">
    <h1>کد تأیید</h1>
    <p class="desc" id="otpDesc">کد ۶ رقمی ارسال شد</p>

    <form id="otpForm" class="otp-form" action="/auth/verify" method="post">
      <input type="hidden" name="otp" id="otp">
      <input type="hidden" name="userKey" value="<%=userKey%>">
      <div class="inputs">
        <input class="otp" maxlength="1" name="n1">
        <input class="otp" maxlength="1" name="n2">
        <input class="otp" maxlength="1" name="n3">
        <input class="otp" maxlength="1" name="n4">
        <input class="otp" maxlength="1" name="n5">
        <input class="otp" maxlength="1" name="n6">
      </div>

      <button type="submit" class="btn">ورود</button>
    </form>
  </div>

  <script src="/js/otp.js"></script>
  <script src="/js/sweetalert.js"></script>
  <script>
    if ("<%=locals.messages.success%>") {
      Swal.fire({
        title: "Success",
        text: "<%=locals.messages.success%>",
        icon: "success",
        button: "ok",
      })
    } else if ("<%=locals.messages.error%>") {
      Swal.fire({
        title: "Error",
        text: "<%=locals.messages.error%>",
        icon: "error",
        button: "try again",
      })
    }
  </script>
</body>

</html>