<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <title>کد تأیید</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>

  <div class="auth-box">
    <h1>کد تأیید</h1>
    <p class="desc" id="otpDesc">کد ۶ رقمی ارسال شد</p>

    <form id="otpForm" class="otp-form" action="/auth/verify" method="post">
      <input type="hidden" name="otp" id="otp">
      <input type="hidden" name="userKey" value="<%=userKey%>">
      <div class="inputs">
        <input class="otp" maxlength="1" name="n1">
        <input class="otp" maxlength="1" name="n2">
        <input class="otp" maxlength="1" name="n3">
        <input class="otp" maxlength="1" name="n4">
        <input class="otp" maxlength="1" name="n5">
        <input class="otp" maxlength="1" name="n6">
      </div>

      <button type="submit" class="btn">ورود</button>
      <%if(locals.messages.inlineError){%>
        <span class="validation-error">
          <%=locals.messages.inlineError%>
        </span>
        <%}%>
    </form>
  </div>

  <script src="/js/otp.js"></script>
  <script src="/js/sweetalert.js"></script>
  <script>
    if ("<%=locals.messages.success%>") {
      Swal.fire({
        title: "<%=locals.messages.success%>",
        icon: "success",
        draggable: true
      });
    } else if ("<%=locals.messages.expireError%>") {
      Swal.fire({
        title: "<%=locals.messages.expireError%>",
        text: "<%=locals.messages.expireError2%>",
        icon: "error",
        showDenyButton: true,
        confirmButtonText: `ارسال مجدد`,
        denyButtonText: `لغو`
      }).then((result) => {
        if (result.isConfirmed) {
          const form = document.createElement("form");
          form.method = "POST";
          form.action = "/auth/login";

          const input = document.createElement("input");
          input.type = "hidden";
          input.name = "userKey";
          input.value = "<%=userKey%>";

          form.appendChild(input);

          document.body.appendChild(form);
          form.submit();
        } else if (result.isDenied) {
          const form = document.createElement("form");
          form.method = "GET";
          form.action = "/auth/login";
          document.body.appendChild(form);
          form.submit();
        }
      })
    }
  </script>
</body>

</html>